<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SubscriptionName" value="LightProducts"/>
    <add key="ServiceBusConnectionString" value="Endpoint=sb://leedssharp2.servicebus.windows.net/;SharedAccessKeyName=ReadWrite;SharedAccessKey=C6KkGojftju9qxoRU58+DVDznYimP4eTzj2WV241Cb8="/>
  </appSettings>
</configuration>